* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: rgb(83, 40, 58);
}


body {
  padding: 50px;
  font: 20px "font-family: 'Cormorant Garamond', serif";
}

a {
  color: rgb(58, 107, 111);
}

